body, ul, ol, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, table, th, td {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
	font-family: "Open Sans", "Noto Sans KR", sans-serif;
	font-size: 1em;
	color: #000;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
	width: 100%;
	padding: 100px;
	
}

.container .title {
	font-weight: 400;
	text-align: center;
	font-size: 1.725em;
}

.item_wrap ul {
	display: flex;
	gap: 14px;
	padding-top: 20px;
}

.item_wrap ul li {
	width: calc((100% - 14px) / 4);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.item_wrap ul li a img {
	width: 100%;
}
.item_wrap ul li .item_desc {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.item_wrap ul li .item_desc strong {
	font-size: 0.925em;
}

.item_wrap ul li .item_desc .sale {
	display: flex;
	gap: 6px;
}

.item_wrap ul li .item_desc .sale p {
	font-weight: 600;
}

.item_wrap ul li .item_desc .sale span {
	color: #F4381B;
	font-weight: 600;
}

.item_wrap ul li .item_desc i {
	font-style: normal;
	color: #9A9B9F;
	font-size: 0.925em;
}

.btn_wrap {
	display: flex;
	justify-content: center;
	gap: 5px;
	padding-top: 35px;
}

.btn_wrap .btn {
	width: 6px;
	height: 6px;
	background-color: #CCCCCC;
	border-radius: 50%;
	transition: all 0.5s;
	cursor: pointer;
}

.btn_wrap .btn.on {
	width: 20px;
	background-color: #111;
	border-radius: 6px;
}